
.change-max-players__body {
	gap: 0.5rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	max-width: 20rem;

	padding: 0.75rem;
	background-color: hsl(var(--popover));

	box-shadow: 0px 6px 32px hsl(var(--secondary) / 0.175);
	border-radius: var(--radius);
}

