.game-grid {
	display: grid;
	gap: 1rem;
	grid-template-areas: 
		"main-screen main-screen"
		"chat-box list-of-players"
}

@media only screen and (min-width: 1280px) {
	.game-grid {
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas: 
			"chat-box main-screen list-of-players"
	}
}

.main-screen {
	grid-area: main-screen;
	min-height: 15rem;
}

.game-grid > * {
	background-color: hsl(var(--background));
	box-shadow: 0 6px 24px hsl(var(--foreground) / 0.175);
	height: fit-content;
}

.game-grid ul {
	padding: 0.5rem;
	word-wrap: break-word;
	grid-area: list-of-players;
}

.chat-box {
	padding: 0.5rem;
	grid-area: chat-box;
}

.chat-box .chat-content {
	overflow-y: auto;
	max-height: 12rem;
	word-wrap: break-word;
}

.chat-box .chat-content > p {
	margin: 0;
	padding-block: 0.25em;
	opacity: 1;
	animation: fade-in 0.25s ease-in-out;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.chat-box form {
	position: relative;
	display: flex;
}

.chat-box form input {
	margin-top: 0;
}

.chat-box form #chat-errormessage {
	position: absolute;
	bottom: 110%;
	left: 0.175rem;
	background-color: hsl(var(--background));
	color: hsl(var(--destructive));
}

