.game-grid {
	display: grid;
	gap: 1rem;
	grid-template-areas: 
		"main-screen"
		"chat-box"
		"list-of-players";
}

@media only screen and (min-width: 768px) {
	.game-grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
			"main-screen main-screen main-screen"
			"chat-box chat-box list-of-players"
	}
}

@media only screen and (min-width: 1536px) {
	.game-grid {
		grid-template-columns: 25% 2fr 1fr;
		grid-template-areas: 
			"chat-box main-screen list-of-players"
	}
}

.main-screen {
	grid-area: main-screen;
	min-height: 15rem;
}

.game-grid > * {
	max-width: calc(100vw - var(--padding-inline) * 4);
	border-radius: var(--radius);
	padding: 0.5rem;
	background-color: hsl(var(--background));
	border: 1px inset;
	height: fit-content;
}

@media only screen and (min-width: 768px) {
	.game-grid > * {
		max-width: unset;
	}
}

.game-grid ul {
	word-wrap: break-word;
	grid-area: list-of-players;
}

.chat-box {
	grid-area: chat-box;
}

.chat-box .chat-content {
	overflow-y: auto;
	max-height: 10rem;
	word-wrap: break-word;
}

.chat-box .chat-content > p {
	margin: 0;
	padding-block: 0.175em;
	opacity: 1;
	animation: fade-in 0.25s ease-in-out;
}

.chat-box .chat-content > p:nth-child(even) {
	background-color: hsl(var(--muted) / 0.25);
	color: hsl(var(--muted-foreground));
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.chat-box form {
	display: flex;
	padding-top: 0.5rem;
	background-color: hsl(var(--background));
	position: relative;
}

.chat-box form input {
	margin-top: 0;
}

.chat-box form #chat-errormessage {
	position: absolute;
	bottom: 110%;
	left: 0.175rem;
	background-color: hsl(var(--background));
	color: hsl(var(--destructive));
}

.waiting-screen__room-info ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

